{% extends "homeApp/base.html" %}
{% block scripts %}
<script>

</script>
{% endblock scripts %}

{% block navbar %}
<section id="navbar">
    {% include 'homeApp/navbar.html' %}
</section>
{% endblock navbar %}

{% block content %}
<section id="contact">
    <div class="container m-5">
        <div class="row col-12">

            <div class="col-xl-6 col-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2428.8934241097287!2d13.388859215996425!3d52.51703617981252!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a851e3e650fa1f%3A0x6d1a4a6146d2b29!2sBrandenburg%20Gate%2C%20Pariser%20Platz%2C%2010117%20Berlin%2C%20Germany!5e0!3m2!1sen!2sde!4v1713876641351!5m2!1sen!2sde"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>

            <div class="col-xl-6 col-12">
                <h3>Contact Us</h3>
                <p><i class="bi bi-telephone-fill m-1 fs-5"></i> <a href="tel:+4933099043">+49 330 99043</a></p>
                <p><i class="bi bi-browser-safari m-1 fs-5"></i> Address: Pariser Platz, 10117 Berlin, Germany</p>
                <p><i class="bi bi-envelope-fill m-1 fs-5"></i><a href="mailto:ehealthportal@ehealthporta.com">ehealthportal@ehealthporta.com</a></p>
            </div>

        </div>
    </div>
</section>
{% endblock content %}
